@model Dispatcher.Web.ViewModels.BlogModels.AllBlogPostsViewModel

@{ 
    this.ViewBag.Title = "Blog Posts";
    this.ViewData["Location"] = "Blogs";
}

<div style="max-width: 1200px; margin: 30px auto; padding: 30px; background: #E9ECEF; border-radius: 8px; -webkit-box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); ">
    <nav class="navbar navbar-light bg-transparent justify-content-between">
        <div class="navbar-brand ml-5">
            <h2 class="tm-gold-text">
                <a class="tm-gold-text" asp-controller="Blogs" asp-action="All">@this.ViewBag.Title</a>
            </h2>
        </div>
        <div>
            <a asp-controller="Blogs" asp-action="Create" type="button" class="btn btn-outline-secondary">Creat New Post</a>
        </div>
    </nav>
    <div class="main-wrapper">
        <section class="blog-list px-3 py-5 p-md-5">
            <div class="container">
                @foreach (var post in Model.Posts)
                {
                    <div class="item mb-5">
                        <div class="media">
                            @if (!string.IsNullOrWhiteSpace(post.FullFilePath))
                            {
                             <div class="col-3 ml-auto mr-auto mt-3">
                                <a class="tm-gold-text" asp-action="Post" asp-route-id="@post.Id">
                                    <img src="@Url.Content(post.FullFilePath)" alt="image" class="w-75">
                                </a>
                             </div> 
                            }
                            else if (post.YouTubeVideoId != null)
                            {
                                <div class="col-3 ml-auto mr-auto mt-3">
                                    <a class="tm-gold-text" asp-action="Post" asp-route-id="@post.Id">
                                        <img src="~/img/blog-pictures/video-default-icon.png" alt="image" class="w-75">
                                    </a>
                                </div> 
                            }
                            else
                            {
                                <div class="col-3 ml-auto mr-auto mt-3">
                                    <a class="tm-gold-text" asp-action="Post" asp-route-id="@post.Id">
                                        <img src="~/img/blog-pictures/blog-post-default-pic.jpg" alt="image" class="w-75">
                                    </a>
                                </div>
                            }
                            <div class="media-body">
                               <h3 class="title mb-1">
                                   <a class="tm-gold-text" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
                               </h3>
                               <div class="meta mb-1">
                                   <span class="date">@post.CreatedOn.ToString("g")</span>
                               </div>
                              @if (post.ClearBody.Length > 300)
                               {
                                   <div class="intro">@post.ClearBody.Substring(0, 300) ...</div> 
                               }
                               else
                               {
                                   <div class="intro">@post.ClearBody</div>
                               }
                               <a asp-action="Post" asp-route-id="@post.Id" class="tm-gold-text">Read more →</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br>
            <partial name="_PaginationPartial" view-data="this.ViewData"/>
        </section>
    </div>
</div>