@using Dispatcher.Common
@model Dispatcher.Web.ViewModels.BlogModels.AllBlogPostsViewModel

@{ 
    this.ViewData["Title"] = "Blog Posts";
}

<nav class="navbar navbar-light bg-transparent justify-content-between">
    <div class="navbar-brand"><h3 class="tm-gold-text">@this.ViewData["Title"]</h3></div>
    <a asp-controller="Blogs" asp-action="Create" type="button" class="btn btn-outline-secondary">Creat New Post</a>
</nav>
<br>

<div class="main-wrapper">

    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">

            @foreach (var post in Model.Posts)
            {
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="~/img/@post.PictureFileName" alt="image" width="250">
                        <div class="media-body">

                            <h3 class="title mb-1"><a asp-action="Post" asp-route-id="@post.Id">@post.Title</a></h3>
                            <div class="meta mb-1"><span class="date">@post.CreatedOn.ToString("g")</span></div>

                            <div class="intro">@post.ClearBody.Substring(0, 300) ...</div>
                            <a asp-action="Post" asp-route-id="@post.Id" class="more-link">Read more →</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
</div>