@model Dispatcher.Web.ViewModels.BlogModels.BlogPostViewModel

@{
    this.ViewBag.Title = Model.Title;
    var currUsername = this.User.Identity.Name;
}

<div class="col-12 mb-4">
    <div class="navbar-brand">
        <h3 class="tm-gold-text">
            <a class="tm-gold-text" asp-controller="Blogs" asp-action="All">
                <i class="fa fa-arrow-left"></i> Back to Blog Posts
            </a>
        </h3>
    </div>
    <div class="pl-5 pr-5 pb-4 mt-3 mb-0" style=" background: #E9ECEF; -webkit-box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); ">
        @if (currUsername == Model.UserUsername)
        {
            <div class="d-flex justify-content-end pt-4">
                <div class="mr-4">
                    <a asp-controller="Blogs" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
                </div>
                <div>
                    <a asp-controller="Blogs" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>
                </div>
            </div>
        }
        <div>
            <div>
                <div class="mt-2 mb-2">
                    <h1 class="tm-gold-text pt-4">@Model.Title</h1>
                </div>
                <div>
                    @if (Model.YouTubeVideoId != null)
                    {
                        <div class="embed-responsive embed-responsive-16by9" style="max-width: 500px; float: left; margin-right: 30px;">
                            <iframe width="914" height="514" src="https://www.youtube.com/embed/@Model.YouTubeVideoId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    }
                    else if (!string.IsNullOrWhiteSpace(Model.FullFilePath))
                    {
                        <div class="col-3">
                            <img src="@Model.FullFilePath" class="float-left w-100 mr-4" alt="@Model.Title" >
                        </div>
                    }

                    <div>
                        <p>@Html.Raw(Model.SanitizedBody)</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between mt-4">
                <span>Created on @Model.CreatedOn.ToString("g")</span>
                <span>Created by <a class="tm-gold-text" asp-controller="Profiles" asp-action="Profile" asp-route-username="@Model.UserUsername">@Model.UserUsername</a></span>
            </div>
        </div>
    </div>
</div>




