@model Dispatcher.Web.ViewModels.BlogModels.BlogPostViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

<a asp-controller="Blogs" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
<a asp-controller="Blogs" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>

@if (Model.RemotePictureUrl != null)
{
    <img src="@Model.RemotePictureUrl" alt="@Model.Title" class="card-img-top">
}

<div>@Model.Title</div>

<div>@Html.Raw(Model.SanitizedBody)</div>

<div>@Model.CreatedOn</div>

<div>@Model.UserUsername</div>