@using Dispatcher.Data.Models
@using Microsoft.AspNetCore.Identity;
@model Dispatcher.Web.ViewModels.BlogModels.BlogPostViewModel
@inject UserManager<ApplicationUser> userManager

@{
    this.ViewBag.Title = Model.Title;
    string currUserId = this.userManager.GetUserId(this.User);
}

<div style="max-width: 1200px; ">
    <div class="navbar-brand">
        <h3 class="tm-gold-text">
            <a class="tm-gold-text" asp-controller="Blogs" asp-action="All">
                <i class="fa fa-arrow-left"></i> Back to Blog Posts
            </a>
        </h3>
    </div>
    <div style="margin: 20px auto; padding: 30px; background: #E9ECEF; -webkit-box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); ">
        @if (currUserId == Model.UserId)
        {
            <div class="d-flex justify-content-end">
                <div>
                    <a asp-controller="Blogs" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
                </div><text>&nbsp;&nbsp;&nbsp;</text>
                <div>
                    <a asp-controller="Blogs" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>
                </div>
            </div>
        }
        <br>
        <div>
            <div>
                <div style="margin-top: -30px; margin-bottom: 20px">
                    <h1 class="tm-gold-text">@Model.Title</h1>
                </div>
                <div>
                    @if (Model.YouTubeVideoId != null)
                    {
                        <div class="embed-responsive embed-responsive-16by9" style="max-width: 500px; float: left; margin-right: 30px;">
                            <iframe width="914" height="514" src="https://www.youtube.com/embed/@Model.YouTubeVideoId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    }
                    else if (!string.IsNullOrWhiteSpace(Model.FullFilePath))
                    {
                        <div>
                            <img src="@Model.FullFilePath" class="card-img-top" alt="@Model.Title" style="max-width: 350px; float: left; margin-right: 30px;">
                        </div>
                    }

                    <div>
                        <p>@Html.Raw(Model.SanitizedBody)</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="d-flex flex-row justify-content-between">
                <span>Created on @Model.CreatedOn.ToString("g")</span>
                <span>Created by <a class="tm-gold-text" asp-controller="Profiles" asp-action="Profile" asp-route-userId="@Model.UserId">@Model.UserUsername</a></span>
            </div>
        </div>
    </div>
</div>




