@model Dispatcher.Web.ViewModels.BlogModels.BlogPostViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

<div class="d-flex justify-content-lg-end">
    <span>
        <a asp-controller="Blogs" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
    </span><text>&nbsp;&nbsp;&nbsp;</text>
    <span>
        <a asp-controller="Blogs" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>
    </span>
</div>

<br>

<div>

    <div>

        <h2>@Model.Title</h2>
        <br>

        <div>
            @if (Model.VideoLink != null)
            {
                @Html.Raw(Model.VideoLink)
            }
            else
            {
                <img src="~/img/@Model.PictureFileName" class="card-img-top" alt="@Model.Title">
            }
        </div>

        <br>
        <p align="justify">@Html.Raw(Model.SanitizedBody)</p>

    </div>

    <br>
    <div class="d-flex flex-row justify-content-between">
        <span>@Model.CreatedOn.ToString("g")</span>
        <span>@Model.UserUsername </span>
    </div>

</div>




