@using Dispatcher.Web.ViewModels.ForumModels
@model ForumDiscussionsViewModel

@{
    this.ViewBag.Title = "Forum Discussions";
    this.TempData.Keep("Category");
    int currRowId = 1;
}

<nav class="navbar navbar-light bg-transparent justify-content-between">
    <div class="navbar-brand">
        <h3>
            <a class="tm-gold-text" asp-controller="Forum" asp-action="All">@this.ViewBag.Title</a>
         </h3>
    </div>
    <a asp-controller="Forum" asp-action="Create" type="button" class="btn btn-outline-secondary">Start Discussion</a>
</nav>

<div class="tm-section">
    <div class="d-flex">
        <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">
            <vc:forum-side-bar></vc:forum-side-bar>
        </aside>
        <div class="col-9">

            <div>

                @foreach (var forumDiscussion in Model.AllForumDiscussions)
                {
                    <div class="card mb-4 col-md-12 offser-md-6 rounded" style="-webkit-box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18); box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18);">
                        <div class="p-2 p-sm-3">
                            <div class="media forum-item">
                                <a asp-controller="Forum" asp-action="Discussion" asp-route-id="@forumDiscussion.Id">
                                    @if (string.IsNullOrWhiteSpace(forumDiscussion.ProfilePicture))
                                    {
                                        <img src="~/img/3_avatar-512.png" class="mr-3 rounded-circle" width="50" alt="User" />
                                    }
                                    else
                                    {
                                        <img src="@forumDiscussion.ProfilePicture" class="mr-3 rounded-circle" width="50" alt="User" />
                                    }
                                </a>
                                <div class="media-body">
                                    <h5 class="mt-2">
                                        <a asp-controller="Forum" asp-action="Discussion" asp-route-id="@forumDiscussion.Id" class="tm-gold-text tm-title">
                                            <strong>@forumDiscussion.Title</strong>
                                        </a>
                                    </h5>
                                    <p class="text-secondary">
                                        @if (forumDiscussion.SanitizedDescription.Length > 200)
                                        {
                                            @Html.Raw(forumDiscussion.SanitizedDescription.Substring(0, 200))
                                        }
                                        else
                                        {
                                            @Html.Raw(forumDiscussion.SanitizedDescription)
                                        }
                                    </p>

                                    <a asp-controller="Forum" asp-action="Discussion" asp-route-id="@forumDiscussion.Id">
                                        <p><span class="text-secondary font-weight-bold">@forumDiscussion.Posts.Count() replies</span></p>
                                    </a>
                                    <div class="d-flex flex-row justify-content-between">
                                        <span>@forumDiscussion.CreatedOn.ToString("g")</span>
                                        <div class="ml-auto mr-auto">

                                            <form id="votesForm" method="post"></form>

                                            @if (this.User.Identity.IsAuthenticated)
                                            {
                                                <div class="text-muted small text-center align-self-center">
                                                    <span id="click" class="d-none d-sm-inline-block" title="I like it!">
                                                        <a href="#a" onclick="like(@forumDiscussion.Id, @currRowId)">
                                                            <i class="fa fa-thumbs-o-up fa-lg"></i>
                                                        </a>
                                                    </span>
                                                    <span class="mr-2" id="likesCount_@(currRowId)" style="font-size: 14px; font-weight: bold;">@forumDiscussion.Likes</span>

                                                    <span id="click" class="d-none d-sm-inline-block" title="Do not like.">
                                                        <a href="#a" onclick="dislike(@forumDiscussion.Id, @currRowId)">
                                                            <i class="fa fa-thumbs-o-down fa-lg"></i>
                                                        </a>
                                                    </span>
                                                    <span id="dislikesCount_@(currRowId)" style="font-size: 14px; font-weight:bold;">@forumDiscussion.Dislikes</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="text-muted small text-center align-self-center">
                                                    <span id="click" class="d-none d-sm-inline-block" title="I like it!">
                                                        <a asp-area="Identity" asp-page="/Account/Login">
                                                            <i class="fa fa-thumbs-o-up fa-lg"></i>
                                                        </a>
                                                    </span>
                                                    <span class="mr-2" style="font-size: 14px; font-weight: bold;">@forumDiscussion.Likes</span>

                                                    <span id="click" class="d-none d-sm-inline-block" title="Do not like.">
                                                        <a asp-area="Identity" asp-page="/Account/Login">
                                                            <i class="fa fa-thumbs-o-down fa-lg"></i>
                                                        </a>
                                                    </span>
                                                    <span style="font-size: 14px; font-weight:bold;">@forumDiscussion.Dislikes</span>
                                                </div>
                                            }

                                            <text hidden>@(currRowId++)</text>
                                        </div>
                                        <span>
                                            @if (forumDiscussion.IsSolved)
                                            {<text>Solved</text> }
                                        else
                                        { <text>Unsolved</text>}
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                @if (Model.AllForumDiscussions.Count() == 0)
                {
                    <div class="d-flex justify-content-center row mt-5">
                        <p>There are no discussions in the selected category.</p>
                        <p>Please select another category or start a new discussion.</p>
                    </div>
                }

            </div>
            @if (Model.AllForumDiscussions.Count() > 0)
            {
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item @if (!Model.HasPreviousPage) { <text> disabled </text> }">
                            <a asp-controller="Forum" asp-action="All" asp-route-category="@TempData["Category"]" asp-route-page="@Model.PreviousPage" class="page-link tm-gold-text">Previous</a>
                        </li>

                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a asp-controller="Forum" asp-action="All" asp-route-category="@TempData["Category"]" asp-route-page="@(Model.Page - 1)" class="page-link tm-gold-text">@(Model.Page - 1)</a>
                            </li>
                        }

                        <li class="page-item">
                            <a asp-controller="Forum" asp-action="All" asp-route-category="@TempData["Category"]" asp-route-page="@Model.Page" class="page-link tm-gold-text">@Model.Page</a>
                        </li>

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a asp-controller="Forum" asp-action="All" asp-route-category="@TempData["Category"]" asp-route-page="@(Model.Page + 1)" class="page-link tm-gold-text">@(Model.Page + 1)</a>
                            </li>
                        }

                        <li class="page-item  @if (!Model.HasNextPage) { <text> disabled </text> }">
                            <a asp-controller="Forum" asp-action="All" asp-route-category="@TempData["Category"]" asp-route-page="@Model.NextPage" class="page-link tm-gold-text">Next</a>
                        </li>
                    </ul>
                </nav>
            }

        </div>
    </div>
   
</div>

@section Scripts {
    <script src="~/js/vote-all.js"></script>
}