@using Dispatcher.Web.ViewModels.ForumModels
@using Dispatcher.Data.Models
@using Microsoft.AspNetCore.Identity;
@model SingleForumDiscussionsViewModel
@inject UserManager<ApplicationUser> userManager

@{
    this.ViewBag.Title = "Forum Discussions";
    string currUserId = this.userManager.GetUserId(this.User);
}

<nav class="navbar navbar-light bg-transparent justify-content-between">
    <div class="navbar-brand">
        <h3 class="tm-gold-text">
            <a asp-controller="Forum" asp-action="ForumDiscussions" class="tm-gold-text">@this.ViewBag.Title</a>
        </h3>
    </div>
    <a asp-controller="Forum" asp-action="Create" type="button" class="btn btn-outline-secondary">Start Discussion</a>
</nav>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">
            <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">
                <vc:forum-side-bar></vc:forum-side-bar>
            </aside>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                <div>
                    <div class="card mb-4 col-md-12 offser-md-6" style="border-radius: 8px ; -webkit-box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18); box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18);">
                        <div class="card-body p-2 p-sm-3">
                            <div class="media forum-item">
                                <a asp-controller="Profiles" asp-action="Profile" asp-route-userId="@Model.UserId">
                                    <img src="@Model.ProfilePicture" class="mr-3 rounded-circle" width="50" alt="User" />
                                </a>
                                <div class="media-body">
                                    <div class="d-flex flex-row justify-content-between mx-md-2">
                                        <h5>
                                            <strong>@Model.Title</strong>
                                        </h5>
                                        <div class="tm-gold-text">
                                            @if (Model.IsSolved) {<text>Solved</text> }
                                            else{ <text>Unsolved</text>}
                                        </div>
                                    </div>
                                    <p class="text-secondary">@Html.Raw(Model.SanitizedDescription)</p>

                                    <div class="d-flex flex-row justify-content-between">
                                        <div>@Model.CreatedOn.ToString("g")</div>

                                        <form id="votesForm" method="post"></form>

                                        <div class="text-muted small text-center align-self-center">
                                            <div id="click" class="d-none d-sm-inline-block">
                                                <a href="#a" onclick="like(@Model.Id)">
                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <span id="likesCount">@Model.Likes</span>

                                            <span id="click" class="d-none d-sm-inline-block">
                                                <a href="#a" onclick="dislike(@Model.Id)">
                                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                            <span id="dislikesCount">@Model.Dislikes</span>
                                        </div>
                                        <div>
                                            <a asp-controller="Profiles" asp-action="Profile" asp-route-userId="@Model.UserId" class="tm-gold-text">
                                                @Model.UserUsername
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @if (currUserId == Model.UserId)
                                {
                                    <div>
                                        <div>
                                            <a asp-controller="Forum" asp-action="SetToSolved" asp-route-id="@Model.Id" title="Is it solved?" style="background-color:#FFFFFF;color:#000000;text-decoration:none">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div>
                                            <a asp-controller="Forum" asp-action="Edit" asp-route-id="@Model.Id" title="Edit" style="background-color:#FFFFFF;color:#000000;text-decoration:none">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div>
                                            <a asp-controller="Forum" asp-action="Delete" asp-route-id="@Model.Id" title="Delete" style="background-color:#FFFFFF;color:#000000;text-decoration:none">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @foreach (var post in Model.Posts)
                    {

                        <div class="card mb-3 col-md-12 offser-md-6" style="border-radius: 8px; -webkit-box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18); box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18);">
                            <div class="card-body p-2 p-sm-3">
                                <div class="media forum-item">
                                    <a asp-controller="Profiles" asp-action="Profile" asp-route-userId="@post.UserId">
                                        <img src="@post.ProfilePicture" class="mr-3 rounded-circle" width="50" alt="User" />
                                    </a>
                                    <div class="media-body">
                                        <p class="text-secondary">@Html.Raw(post.SanitizedContent)</p>

                                        <div class="d-flex flex-row justify-content-between">
                                            <span>@post.CreatedOn.ToString("g")</span>
                                            <a asp-controller="Profiles" asp-action="Profile" asp-route-userId="@Model.UserId" class="tm-gold-text">
                                                @post.UserUsername
                                            </a>
                                        </div>
                                    </div>

                                    @if (currUserId == post.UserId)
                                    {
                                        <div>
                                            <a asp-controller="Forum" asp-action="DeleteComment" asp-route-id="@post.Id" asp-route-discussionId="@Model.Id" title="Delete" style="background-color:#FFFFFF;color:#000000;text-decoration:none">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="form-control-plaintext mt-4 mb-4 pb-5" style="border-radius: 8px; -webkit-box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18); box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18);">
                    <form method="post" asp-controller="Forum" asp-action="Comment" class="col-md-12 offser-md-6">
                        <div class="form-group">
                            <label for="Comment">Comment</label>
                            <textarea name="Content" class="form-control" rows="3" required minlength="2"></textarea>
                        </div>
                        <input name="DiscussionId" value="@Model.Id" type="hidden">
                        <button type="submit" class="tm-btn text-uppercase" style="float: right;">Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/vote-single.js"></script>
}