@using Dispatcher.Web.ViewModels.ForumModels
@model AllForumDiscussionsViewModel
@{
    this.ViewData["Title"] = "Forum Discussions";
    this.TempData.Keep("Category");
}

<nav class="navbar navbar-light bg-transparent justify-content-between">
    <div class="navbar-brand"><h3 class="tm-gold-text"><a asp-controller="Forum" asp-action="ForumDiscussions" class="tm-gold-text">@this.ViewData["Title"]</a></h3></div>
    <a asp-controller="Forum" asp-action="Create" type="button" class="btn btn-outline-secondary">Start Discussion</a>
</nav>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">

            <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">
                <vc:forum-side-bar></vc:forum-side-bar>

            </aside>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">

                @foreach (var forumDiscussion in Model.AllForumDiscussions)
                {
                    <div class="card mb-1 col-md-12 offser-md-6">
                        <div class="card-body p-2 p-sm-3">

                            <div class="media forum-item">

                                <a asp-controller="Forum" asp-action="ForumDiscussion" asp-route-id="@forumDiscussion.Id">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" />
                                </a>

                                <div class="media-body">

                                    <h6>
                                        <a asp-controller="Forum" asp-action="ForumDiscussion" asp-route-id="@forumDiscussion.Id" class="text-body"><strong>@forumDiscussion.Title</strong></a>
                                    </h6>

                                    <p class="text-secondary">
                                        @if (forumDiscussion.SanitizedDescription.Length > 200)
                                        {
                                            @Html.Raw(forumDiscussion.SanitizedDescription.Substring(0, 200))
                                        }
                                        else
                                        {
                                            @Html.Raw(forumDiscussion.SanitizedDescription)
                                        }
                                    </p>

                                    <a asp-controller="Forum" asp-action="ForumDiscussion" asp-route-id="@forumDiscussion.Id">
                                        <p><span class="text-secondary font-weight-bold">@forumDiscussion.Posts.Count() replies</span></p>
                                    </a>
                                    <div class="d-flex flex-row justify-content-between">
                                        <span>@forumDiscussion.CreatedOn.ToString("g")</span>


                                        <form id="votesForm" method="post"></form>

                                        <div class="text-muted small text-center align-self-center">
                                            <span id="click" class="d-none d-sm-inline-block">
                                                <a href="#click" onclick="like(@forumDiscussion.Id)">
                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                            <span id="likesCount">@forumDiscussion.Likes</span>

                                            <span id="click" class="d-none d-sm-inline-block">
                                                <a href="#click" onclick="dislike(@forumDiscussion.Id)">
                                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                            <span id="dislikesCount">@forumDiscussion.Dislikes</span>
                                        </div>

                                        <span>
                                            @if (forumDiscussion.IsSolved)
                                            {<text>Solved</text> }
                                        else
                                        { <text>Unsolved</text>}
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <br>
    @if (Model.AllForumDiscussions.Count() > 0)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @if (!Model.HasPreviousPage) { <text> disabled </text> }">
                    <a asp-controller="Forum" asp-action="GetDiscussionsPerCategory" asp-route-category="@TempData["Category"]" asp-route-page="@Model.PreviousPage" class="page-link tm-gold-text">Previous</a>
                </li>

                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a asp-controller="Forum" asp-action="GetDiscussionsPerCategory" asp-route-category="@TempData["Category"]" asp-route-page="@(Model.Page - 1)" class="page-link tm-gold-text">@(Model.Page - 1)</a>
                    </li>
                }

                <li class="page-item">
                    <a asp-controller="Forum" asp-action="GetDiscussionsPerCategory" asp-route-category="@TempData["Category"]" asp-route-page="@Model.Page" class="page-link tm-gold-text">@Model.Page</a>
                </li>

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a asp-controller="Forum" asp-action="GetDiscussionsPerCategory" asp-route-category="@TempData["Category"]" asp-route-page="@(Model.Page + 1)" class="page-link tm-gold-text">@(Model.Page + 1)</a>
                    </li>
                }

                <li class="page-item  @if (!Model.HasNextPage) { <text> disabled </text> }">
                    <a asp-controller="Forum" asp-action="GetDiscussionsPerCategory" asp-route-category="@TempData["Category"]" asp-route-page="@Model.NextPage" class="page-link tm-gold-text">Next</a>
                </li>
            </ul>
        </nav>
    }
</section>


@section Scripts {
    <script>

        function like(DiscussionId) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { DiscussionId: DiscussionId, VoteType: "Like" };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $('#likesCount').html(data.likes);
                    $('#dislikesCount').html(data.dislikes);
                }
            });
        }

        function dislike(DiscussionId) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { DiscussionId: DiscussionId, VoteType: "Dislike" };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $('#likesCount').html(data.likes);
                    $('#dislikesCount').html(data.dislikes);
                }
            });
        }
    </script>
}