@using Dispatcher.Web.ViewModels.ProjectModels
@model SingleProjectViewModel

@{
    this.ViewBag.Title = "User's Project";
}

<div class="jumbotron row justify-content-between shadow p-3 mb-5 rounded mt-5 p-3" >
    <div @(Model.Url == null ? @"class='col-md-12'" : @"class='col-md-6'")>
        <h2 class="display-4 ml-4 mt-4">@Model.Name</h2>
        <p class="ml-4">Role: @Model.UserRole</p>
    </div>
    @if (Model.Url != null)
    {
        <div class="col-md-4">
            <img src="@Model.Url" alt="Project picture" class="float-right" style="width: 250px;" />
        </div>
    }

    <div>
        <hr class="my-4">
        <p class="text-justify">@Model.SanitizedDescription</p>
    </div>
</div>












