@model Dispatcher.Web.ViewModels.JobModels.SigleJobViewModel

@{
    this.ViewData["Title"] = this.Model.Title;
}

<div class="d-flex justify-content-lg-end">
    <span>
        <a asp-controller="Jobs" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
    </span><text>&nbsp;&nbsp;&nbsp;</text>
    <span>
        <a asp-controller="Jobs" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>
    </span>
</div>

<br>

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
            <div class="tm-blog-post">
                <h3 class="tm-gold-text">@Model.Title</h3>
                <img src="@Model.LogoUrl" alt="Image" class="img-fluid tm-img-post">
                <br>
                <p>@Html.Raw(Model.SanitizedBody)</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>@Model.Contact</span>
                    <span>@Model.CreatedOn.ToString("d")</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>@Model.Location</span>
                    <span></span>
                </div>
                <br>

            </div>

            <div class="row tm-margin-t-big">
                <vc:random-jobs></vc:random-jobs>
            </div>
        </div>

        <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">
            <div class="tm-aside-container">

                <hr class="tm-margin-t-small">
                <h3 class="tm-gold-text tm-title">
                    Blog Post
                </h3>
                <hr class="tm-margin-t-small">

                <div class="tm-content-box tm-margin-t-small">

                    <vc:random-blog-post-component is-with-picture="false"></vc:random-blog-post-component>

                </div>
                <hr class="tm-margin-t-small">
                <h3 class="tm-gold-text tm-title tm-margin-t-small">
                    Useful Links
                </h3>
                <hr class="tm-margin-t-small">
                <nav>
                    <ul class="nav">
                        <li><a href="https://github.com/" class="tm-text-link">github.com</a></li>
                        <li><a href="https://stackoverflow.com/" class="tm-text-link">stackoverflow.com</a></li>
                        <li><a href="https://azure.microsoft.com/" class="tm-text-link">azure.microsoft.com</a></li>
                        <li><a href="https://www.hackerrank.com/" class="tm-text-link">www.hackerrank.com</a></li>
                        <li><a href="https://softuni.bg/" class="tm-text-link">softuni.bg</a></li>
                    </ul>
                </nav>

                <hr class="tm-margin-t-small">
            </div>
        </aside>
    </div>
</div>