@using Dispatcher.Data.Models
@using Microsoft.AspNetCore.Identity;
@model Dispatcher.Web.ViewModels.JobModels.SigleJobViewModel
@inject UserManager<ApplicationUser> userManager

@{
    this.ViewBag.Title = this.Model.Title;
    string currUserId = this.userManager.GetUserId(this.User);
}

<div class="d-flex justify-content-between mt-4">
    <div class="navbar-brand">
        <h3 class="tm-gold-text">
            <a class="tm-gold-text" asp-controller="Jobs" asp-action="All"><i class="fa fa-arrow-left"></i> Back to the Jobs</a>
        </h3>
    </div>
</div>

<div class="container-fluid" style="margin: 30px auto;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
            <div class="tm-blog-post p-4 mb-4" style="border-radius:6px ; -webkit-box-shadow: 2px 8px 28px -13px rgba(0,0,0,0.41); box-shadow: 2px 8px 28px -13px rgba(0,0,0,0.41); ">
                <div>
                    @if (currUserId == Model.UserId)
                    {
                        <div class="d-flex justify-content-end mb-2">
                            <div class="mr-4">
                                <a asp-controller="Jobs" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
                            </div>
                            <div>
                                <a asp-controller="Jobs" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>
                            </div>
                        </div>
                    }
                    <div>
                        <h3 style="margin-bottom:50px;" class="tm-gold-text">@Model.Title</h3>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.LogoUrl))
                    {
                        <img src="@Model.LogoUrl" alt="Image" class="img-fluid tm-img-post" width="250" style="float:left; margin-right:30px; margin-bottom: 5px;">
                    }
                </div>
                <br>
                <div>
                    <p style="margin-top: -50px; text-align: justify;">@Html.Raw(Model.SanitizedBody)</p>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>@Model.CompanyName</span>
                    <span><a asp-controller="Profiles" asp-action="Profile" asp-route-userId="@Model.UserId" class="tm-gold-text">@Model.Contact</a></span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>@Model.Location</span>
                    <span>@Model.CreatedOn.ToString("d")</span>
                </div>
                <br>
            </div>
            <div class="row tm-margin-t-big" style="margin-top:45px;">
                <vc:random-jobs></vc:random-jobs>
            </div>
        </div>

        <partial name="_AdvertisementsSideBarPartial" />
    </div>
</div>