@model Dispatcher.Web.ViewModels.JobModels.SigleJobViewModel

@{
    this.ViewData["Title"] = this.Model.Title;
}

<a asp-controller="Jobs" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
<a asp-controller="Jobs" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>

<h1>@this.ViewData["Title"]</h1>

@if (this.Model.LogoUrl != null)
{
    <img src="@Model.LogoUrl" alt="@Model.LogoUrl" class="card-img-top">
}

<p>@Model.Title</p>

<p>@Html.Raw(Model.SanitizedBody)</p>

<p>@Model.CompanyName</p>

<p>@Model.Location</p>

<p>@Model.Contact</p>

<p>@Model.CreatedOn</p>
