@model Dispatcher.Web.ViewModels.JobModels.AllJobsViewModel

<p hidden>@this.TempData["keyWords"];</p>

@{
    this.ViewBag.Title = "Search results";
    this.TempData.Keep("keyWords");
    this.ViewData["Location"] = "SearchJob";
    this.ViewData["KeyWords"] = this.TempData["KeyWords"];
}

<div class="container-fluid col-12">
    <nav class="navbar navbar-light bg-transparent justify-content-between">
        <div class="navbar-brand">
            <h2 class="tm-gold-text">@this.ViewBag.Title</h2>
        </div>
        <form asp-controller="Jobs" asp-action="Search" method="get" class="form-inline" aria-required="true">
            <input required name="keyWords" class="form-control mr-sm-2" type="search" placeholder="@this.ViewData["KeyWords"]" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 tm-gold-text" type="submit">Search</button>
        </form>
        <div>
            <a asp-controller="Jobs" asp-action="Create" type="button" class="btn btn-outline-secondary">Post a Job</a>
        </div>
    </nav>

    @if (Model.JobsCount > 0)
    {
        <h3 class="text-center mt-2 mb-4 ml-5">@Model.JobsCount jobs found for "@this.ViewData["KeyWords"]"</h3>

        <div>
            <partial name="_RenderJobsPartial" model="this.Model">
        </div>   
    }
    else
    {
        <div class="text-center mt-4">
            <h1>0 search results found for "@this.ViewData["KeyWords"]"</h1>
            <p>Sorry, we couldn't find any results for your search</p>
            <h3 class="tm-gold-text">
                <a class="tm-gold-text" asp-controller="Jobs" asp-action="All"><i class="fa fa-arrow-left"></i> Back to the Jobs</a>
            </h3>
        </div>
    }
</div>