@using Dispatcher.Web.ViewModels.ViewComponents
@model RandomAdsModel

@foreach (var ad in Model.Ads)
{
    <div class="card" style="min-width: 250px; max-width: 250px; margin: 20px 10px">
        <a asp-controller="Ads" asp-action="Ad" asp-route-id="@ad.Id" class="effect-lily tm-post-link tm-pt-60">
            @if (!string.IsNullOrWhiteSpace(ad.PictureUrl))
            {
                <img class="card-img-top" src="@ad.PictureUrl" alt="@ad.Title">
            }
            else
            {
                <img class="card-img-top" src="~/img/default-ad.png" alt="@ad.Title">
            }
        </a>
        <div class="card-body">
            <a asp-controller="Ads" asp-action="Ad" asp-route-id="@ad.Id" class="effect-lily tm-post-link tm-pt-60">
                <h5 class="card-title tm-gold-text">@ad.Title</h5>
            </a>
            <p class="card-text">@ad.ClearDescription.Substring(0, 100)</p>
        </div>

        <div class="card-footer" style="background: white; margin: auto auto;">
            <a asp-controller="Ads" asp-action="Ad" asp-route-id="@ad.Id" class="tm-btn text-uppercase">READ MORE</a>
        </div>
    </div>
}

