@using Dispatcher.Web.ViewModels.ViewComponents
@model RandomAdsModel

@foreach (var ad in Model.Ads)
{
    <div class="card">
        <img class="card-img-top" src="@ad.PictureUrl" alt="@ad.Title">
        <div class="card-body">
            <h5 class="card-title">@ad.Title</h5>
            <p class="card-text" style="text-align: justify;">@Html.Raw(ad.SanitizedDescription.Substring(0, 100))</p>
        </div>
        <div class="card-footer" style="background: white; margin: auto auto;">
            <a asp-controller="Ads" asp-action="Ad" asp-route-id="@ad.Id" class="tm-btn text-uppercase">READ MORE</a>
        </div>
    </div>
}