<div class="card border-left" style="min-width: 255px; max-width: 255px; margin: 20px 10px; -webkit-box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18); box-shadow: -8px -3px 15px 5px rgba(0,0,0,0.18);">
    <a asp-controller="Ads" asp-action="Ad" asp-route-id="@Model.Id" class="effect-lily tm-post-link tm-pt-60">
        @if (!string.IsNullOrWhiteSpace(Model.PictureUrl))
        {
            <img class="card-img-top" src="@Model.PictureUrl" alt="@Model.Title">
        }
        else
        {
            <img class="card-img-top" src="~/img/default-ad.png" alt="@Model.Title">
        }
    </a>
    <div class="card-body">
        <a asp-controller="Ads" asp-action="Ad" asp-route-id="@Model.Id" class="effect-lily tm-post-link tm-pt-60">
            <h5 class="card-title tm-gold-text">@Model.Title</h5>
        </a>
        <p class="card-text">@Model.ClearDescription.Substring(0, 80)</p>
        <div style="display: flex; justify-content: space-between;">
            <small class="text-muted">For: @Model.AdvertisementTypeType</small>
            <small class="text-muted">@Model.Compensation</small>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">by <a class="tm-gold-text" asp-controller="Profiles" asp-action="Profile" asp-route-username="@Model.UserUsername">@Model.UserUsername</a></small>
    </div>
</div>