<article class="col-12 col-md-4 tm-post" style="margin-bottom: 30px">
    <hr class="tm-hr-primary">
    <a asp-controller="Ads" asp-action="Ad" asp-route-id="@Model.Id" class="effect-lily tm-post-link tm-pt-60">
        <div class="tm-post-link-inner">
            @if (!string.IsNullOrWhiteSpace(Model.PictureUrl))
            {
            <img src="@Model.PictureUrl" alt="@Model.Title" class="tm-contact-img-container" style="max-width:100%; object-fit: cover;">
            }
            else
            {
            <img src="~/img/default-ad.png" alt="@Model.Title" class="img-fluid" />
            }
        </div>
        <h2 class="tm-margin-b-10 tm-gold-text">@Model.Title</h2>
    </a>
    <p>@Model.ClearDescription.Substring(0, 80)</p>
    <div class="d-flex justify-content-between tm-pt-45">
        <div>@Model.Compensation</div>
        <div>by <a class="tm-gold-text" asp-controller="Profiles" asp-action="Profile" asp-route-userId="@Model.UserId">@Model.UserUsername</a></div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="tm-color-primary">For: @Model.AdvertisementTypeType</div>
        <div class="tm-color-primary">@Model.CreatedOn.ToString("d")</div>
    </div>
</article>