@model Dispatcher.Web.ViewModels.AdModels.AdvertisementViewModel

@{
    this.ViewBag.Title = "Ad Info";
    var currUsername = this.User.Identity.Name;
}

<div>
    <div class="d-flex justify-content-between">
        <div class="navbar-brand">
            <h3 class="tm-gold-text">
                <a class="tm-gold-text ml-3" asp-controller="Ads" asp-action="All">
                    <i class="fa fa-arrow-left"></i> Back to the Ads
                </a>
            </h3>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                <div class="ad-info-container p-4 shadow p-3 mb-4 bg-white rounded">
                    @if (currUsername == Model.UserUsername)
                    {
                        <div class="d-flex justify-content-end">
                            <a asp-controller="Ads" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary mr-4">Edit</a>
                            <a asp-controller="Ads" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>
                        </div>
                    }
                    <div style="margin: 15px 0px;">
                        <h1 class="tm-gold-text">@Model.Title</h1>
                    </div>
                    <div>
                        @if (!string.IsNullOrWhiteSpace(Model.PictureUrl))
                        {
                            <a href="@Model.PictureUrl">
                                <img src="@Model.PictureUrl" alt="Image" class="img-fluid rounded float-left w-50 mr-4">
                            </a>
                        }
                        <div>
                            <p class="text-justify">@Html.Raw(Model.SanitizedDescription)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="mt-0">
                        <div class="d-flex justify-content-between">
                            <div>Compensation: <strong>@Model.Compensation</strong></div>
                            <div>by <a class="tm-gold-text" asp-controller="Profiles" asp-action="Profile" asp-route-username="@Model.UserUsername">@Model.UserUsername</a></div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <div><strong>Looking for: @Model.AdvertisementTypeType</strong></div>
                            <div>Created on @Model.CreatedOn.ToString("d")</div>
                        </div>
                        <hr class="tm-margin-t-small">
                    </div>
                </div>
                <div class="card-deck">
                    <vc:random-ads ads-count="3"></vc:random-ads>
                </div>
            </div>
            <partial name="_AdvertisementsSideBarPartial" />
        </div>
    </div>
</div>


