@model Dispatcher.Web.ViewModels.AdModels.SingleAdViewModel
@using Dispatcher.Data.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager

@{
    this.ViewData["Title"] = "Ad Info";
    string currUserId = this.userManager.GetUserId(this.User);
}

<div class="d-flex justify-content-between">
    <div class="navbar-brand"><h3 class="tm-gold-text"><a class="tm-gold-text" asp-controller="Ads" asp-action="AllAds"><i class="fa fa-arrow-left"></i> Back to Blog Posts</a></h3></div>
    @if (currUserId == Model.UserId)
    {
        <div>
            <span><a asp-controller="Ads" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a></span>
            <text>&nbsp;&nbsp;&nbsp;</text>
            <span><a asp-controller="Ads" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a></span>
        </div>
    }
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">

            <div class="ad-info-container">
                <div style="margin: 15px 0px;">
                    <h3>@Model.Title</h3>
                </div>
                <div>
                    @if (!string.IsNullOrWhiteSpace(Model.PictureUrl))
                    {
                        <a href="@Model.PictureUrl"><img src="@Model.PictureUrl" alt="Image" class="img-fluid tm-img-post" style="float:left; margin-right: 20px;" width="250"></a>
                    }
                    <div>
                        <p>@Html.Raw(Model.SanitizedDescription)</p>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="d-flex justify-content-between">
                        <span>Compensation: <strong>@Model.Compensation</strong></span>
                        <span>by <a class="tm-gold-text" asp-controller="Profiles" asp-action="Profile" asp-route-userId="@Model.UserId">@Model.UserUsername</a></span>
                    </div>

                    <div class="d-flex justify-content-between" style="margin-top: 5px;">
                        <strong>Looking for: @Model.AdvertisementTypeType</strong>
                        <span>Created on @Model.CreatedOn.ToString("d")</span>
                    </div>
                    <hr class="tm-margin-t-small">
                </div>
            </div>

            <div class="row tm-margin-t-small">
                <vc:random-ads ads-count="3"></vc:random-ads>
            </div>
        </div>

        <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">
            <div class="tm-aside-container">

                <h3 class="tm-gold-text tm-title tm-margin-t-small">
                    Useful Links
                </h3>
                <hr class="tm-margin-t-small">
                <nav>
                    <ul class="nav">
                        <li><a href="https://github.com/" class="tm-text-link">github.com</a></li>
                        <li><a href="https://stackoverflow.com/" class="tm-text-link">stackoverflow.com</a></li>
                        <li><a href="https://azure.microsoft.com/" class="tm-text-link">azure.microsoft.com</a></li>
                        <li><a href="https://www.hackerrank.com/" class="tm-text-link">www.hackerrank.com</a></li>
                        <li><a href="https://softuni.bg/" class="tm-text-link">softuni.bg</a></li>
                    </ul>
                </nav>
                <hr class="tm-margin-t-small">

                <h3 class="tm-gold-text tm-title">
                    Blog Post
                </h3>

                <hr class="tm-margin-t-small">

                <vc:random-blog-post-component is-with-picture="false"></vc:random-blog-post-component>

                <hr class="tm-margin-t-small">
            </div>
        </aside>
    </div>
</div>


