@using Dispatcher.Web.ViewModels.AdModels
@model AllAdsViewModel

<p hidden>@this.TempData["keyWords"];</p>

@{
    this.ViewData["Title"] = "Search results";   
    this.TempData.Keep("keyWords");
}


<div class="container-fluid">
    <nav class="navbar navbar-light bg-transparent justify-content-between">
        <div class="navbar-brand"><h3 class="tm-gold-text">@this.ViewData["Title"]</h3></div>

        <form asp-controller="Ads" asp-action="Search" method="get" class="form-inline">
            <input name="keyWords" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 tm-gold-text" type="submit">Search</button>
        </form>

        <span><a asp-controller="Ads" asp-action="Create" type="button" class="btn btn-outline-secondary">Create Ad</a></span>
    </nav>

    @if (Model.AdsCount > 0)
    {
        <h3>@Model.AdsCount search results found</h3>

        <div class="row tm-row">

            @foreach (var ad in Model.Ads)
            {
                <article class="col-12 col-md-4 tm-post">
                    <hr class="tm-hr-primary">
                    <a asp-controller="Ads" asp-action="Ad" asp-route-id="@ad.Id" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="@ad.PictureUrl" alt="@ad.Title" class="img-fluid">
                        </div>
                        <h2 class="tm-margin-b-10 tm-gold-text">@ad.Title</h2>
                    </a>
                    <p>@ad.ClearDescription.Substring(0, 80)</p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">For: @ad.AdvertisementTypeType</span>
                        <span class="tm-color-primary">! June 24, 2020 !</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 comments</span>
                        <span>by @ad.UserUsername</span>
                    </div>
                </article>
            }
        </div>

        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @if (!Model.HasPreviousPage) { <text> disabled </text> }">
                    <a asp-controller="Ads" asp-action="Search" asp-route-page="@Model.PreviousPage" asp-route-keyWords="@this.TempData["keyWords"]" class="page-link tm-gold-text">Previous</a>
                </li>

                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a asp-controller="Ads" asp-action="Search" asp-route-page="@(Model.Page - 1)" asp-route-keyWords="@this.TempData["keyWords"]" class="page-link tm-gold-text">@(Model.Page - 1)</a>
                    </li>
                }

                <li class="page-item">
                    <a asp-controller="Ads" asp-action="Search" asp-route-page="@Model.Page" asp-route-keyWords="@this.TempData["keyWords"]" class="page-link tm-gold-text">@Model.Page</a>
                </li>

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a asp-controller="Ads" asp-action="Search" asp-route-page="@(Model.Page + 1)" asp-route-keyWords="@this.TempData["keyWords"]" class="page-link tm-gold-text">@(Model.Page + 1)</a>
                    </li>
                }

                <li class="page-item  @if (!Model.HasNextPage) { <text> disabled </text> }">
                    <a asp-controller="Ads" asp-action="Search" asp-route-page="@Model.NextPage" asp-route-keyWords="@this.TempData["keyWords"]" class="page-link tm-gold-text">Next</a>
                </li>
            </ul>
        </nav>
    }

    else
    {
        <h1>0 search results found</h1>
        <p>Sorry, we couldn't find any results for your search</p>
    }
</div>