@using Dispatcher.Web.ViewModels.ProfileModels
@model DataManagerViewModel

@{
    this.ViewBag.Title = "Data manager";
}


<div class="col-md-12">
    <h3>@this.ViewBag.Title</h3>
    <div class="card mb-3">
        <div class="card-body">
            <h5>Projects</h5>
            <hr>
            @if (Model.Projects.Count > 0)
            {
                @foreach (var project in Model.Projects)
                {
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <h6 class="mb-0"><a asp-controller="Projects" asp-action="Project" asp-route-id="@project.Id">@project.Title</a></h6>
                        </div>
                        <div class="col-sm-2 text-secondary">
                            <a asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id" class="btn btn-outline-secondary" title="Edit">Edit</a>
                            <a asp-controller="Projects" asp-action="Delete" asp-route-id="@project.Id" class="btn btn-outline-secondary" title="Delete">Delete</a>
                        </div>
                    </div>
                    <hr>
                }
            }
            else
            {
                <span class="text-secondary">No projects available...</span>
                <br>
                <br>
            }
            <div class="row">
                <div class="col-sm-12">
                    <a class="tm-btn text-uppercase" target="__blank" asp-controller="Projects" asp-action="Add">Add Project</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5>Advertisements</h5>
            <hr>
            @if (Model.Advertisements.Count > 0)
            {
                @foreach (var advertisement in Model.Advertisements)
                {
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <h6 class="mb-0"><a asp-controller="Ads" asp-action="Ad" asp-route-id="@advertisement.Id">@advertisement.Title</a></h6>
                        </div>
                        <div class="col-sm-2 text-secondary">
                            <a asp-controller="Ads" asp-action="Edit" asp-route-id="@advertisement.Id" class="btn btn-outline-secondary">Edit</a>
                            <a asp-controller="Ads" asp-action="Delete" asp-route-id="@advertisement.Id" class="btn btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                    <hr>
                }
            }
            else
            {
                <span class="text-secondary">No advertisements available...</span>
            }
            <div class="row">
                <div class="col-sm-12">
                    <a class="tm-btn text-uppercase" target="__blank" asp-controller="Ads" asp-action="Create">Add new ad</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5>Job Advertisements</h5>
            <hr>
            @if (Model.Jobs.Count > 0)
            {
                @foreach (var job in Model.Jobs)
                {
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <h6 class="mb-0"><a asp-controller="Jobs" asp-action="Job" asp-route-id="@job.Id">@job.Title</a></h6>
                        </div>
                        <div class="col-sm-2 text-secondary">
                            <a asp-controller="Jobs" asp-action="Edit" asp-route-id="@job.Id" class="btn btn-outline-secondary">Edit</a>
                            <a asp-controller="Jobs" asp-action="Delete" asp-route-id="@job.Id" class="btn btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                    <hr>
                }
            }
            else
            {
                <span class="text-secondary">No job ads available...</span>
            }
            <div class="row">
                <div class="col-sm-12">
                    <a class="tm-btn text-uppercase" target="__blank" asp-controller="Jobs" asp-action="Create">Add job ad</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5>Forum Discussions</h5>
            <h6 class="d-flex align-items-center mb-3"></h6>
            @if (Model.Discussions.Count > 0)
            {
                @foreach (var discussion in Model.Discussions)
                {
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <h6 class="mb-0"><a asp-controller="Forum" asp-action="ForumDiscussion" asp-route-id="@discussion.Id">@discussion.Title</a></h6>
                        </div>
                        <div class="col-sm-2 text-secondary">
                            <a asp-controller="Forum" asp-action="Edit" asp-route-id="@discussion.Id" class="btn btn-outline-secondary">Edit</a>
                            <a asp-controller="Forum" asp-action="Delete" asp-route-id="@discussion.Id" class="btn btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                    <hr>
                }
            }
            else
            {
                <span class="text-secondary">No discussions available...</span>
            }
            <div class="row">
                <div class="col-sm-12">
                    <a class="tm-btn text-uppercase" target="__blank" asp-controller="Forum" asp-action="Create">Start discussion</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5>Blog posts</h5>
            <hr>
            @if (Model.Blogs.Count > 0)
            {
                @foreach (var post in Model.Blogs)
                {
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <h6 class="mb-0"><a asp-controller="Blogs" asp-action="Post" asp-route-id="@post.Id">@post.Title</a></h6>
                        </div>
                        <div class="col-sm-2 text-secondary">
                            <a asp-controller="Blogs" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-outline-secondary">Edit</a>
                            <a asp-controller="Blogs" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                    <hr>
                }
            }
            else
            {
                <span class="text-secondary">No job ads available...</span>
            }
            <div class="row">
                <div class="col-sm-12">
                    <a class="tm-btn text-uppercase" target="__blank" asp-controller="Blogs" asp-action="Create">new blog post</a>
                </div>
            </div>
        </div>
    </div>
</div>