@using Dispatcher.Web.ViewModels.ProfileModels
@model ProfileViewModel

@{
    this.ViewBag.Title = "Profile";
    var path = Model.ProfilePictures.OrderByDescending(x => x.CreatedOn).FirstOrDefault()?.FilePath;
}
<div class="container mt-4 mb-4 p-3" style="-webkit-box-shadow: 0px 0px 28px -11px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -11px rgba(0,0,0,0.85);">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body" style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if (path != null)
                            {
                                <img src="@path" alt="Admin" class="rounded-circle" width="150" /> 
                            }
                            else
                            { 
                                <img src="~/img/3_avatar-512.png" alt="Admin" class="rounded-circle" width="150" />
                            }
                            <div class="mt-3">
                                <h4>@Model.FullName</h4>
                                @if (@Model.CumstomerReviews.Any())
                                {
                                    <h5><i class="fa fa-star tm-gold-text" aria-hidden="true"> @Model.CumstomerReviews.Average(x => x.StarsCount).ToString("f2")</i></h5>
                                }

                                <p class="text-secondary mb-1">@Model.Education</p>
                                <p class="text-muted font-size-sm">@Model.CompanyName</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-3" style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                            <p class="profile-info">
                                <i class="fa fa-tasks"> <span class="tm-gold-text">Interests</span></i>
                            </p>
                            <p class="profile-info">@Model.Interests</p>
                        </li>
                    </ul>
                </div>
                <div style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">

                            @if (Model.Contacts != null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                                    <p class="profile-info">
                                        <i class="fa fa-address-card"> <span class="tm-gold-text">Contact</span></i>
                                    </p>
                                    <p class="profile-info">@Model.Contacts</p>
                                </li>
                            }
                            @if (Model.PhoneNumber != null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                                    <p class="profile-info">
                                        <i class="fa fa-phone-square"> <span class="tm-gold-text">Phonenumber</span></i>
                                    </p>
                                    <p class="profile-info">@Model.PhoneNumber</p>
                                </li>
                            }
                            @if (Model.WebsiteUrl != null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                                    <p class="profile-info">
                                        <i class="fa fa-internet-explorer"> <span class="tm-gold-text">Website</span></i>
                                    </p>
                                    <p class="profile-info">
                                        <a href="#" onclick="window.open('//@Model.WebsiteUrl')">@Model.WebsiteUrl</a>
                                    </p>
                                </li>
                            }
                            @if (Model.GithubUrl != null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                                    <p class="profile-info">
                                        <i class="fa fa-github"> <span class="tm-gold-text">Github</span></i>
                                    </p>
                                    <p class="profile-info">
                                        <a href="#" onclick="window.open('//@Model.GithubUrl')">@Model.GithubUrl</a>
                                    </p>
                                </li>
                            }
                            @if (Model.FacebookUrl != null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                                    <p class="profile-info">
                                        <i class="fa fa-facebook"> <span class="tm-gold-text">Facebook</span></i>
                                    </p>
                                    <p class="profile-info">
                                        <a href="#" onclick="window.open('//@Model.FacebookUrl')">@Model.FacebookUrl</a>
                                    </p>
                                </li>
                            }
                            @if (Model.InstagramUrl != null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                                    <p class="profile-info">
                                        <i class="fa fa-instagram"> <span class="tm-gold-text">Instagram</span></i>
                                    </p>
                                    <p class="profile-info">
                                        <a href="#" onclick="window.open('//@Model.InstagramUrl')">@Model.InstagramUrl</a>
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
               
                <div class="card mt-3" style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                            <p class="profile-info">
                                <i class="fa fa-commenting" aria-hidden="true"> <span class="tm-gold-text">Reviews:</span></i>
                            </p>
                            <br>
                            <p class="profile-info">
                                <a asp-controller="CustomersReviews" asp-action="AllCustomersReviews" asp-route-id="@Model.Id">
                                    @Model.CumstomerReviews.Count comments
                                </a>
                            </p>  
                        </li>
                    </ul>
                </div>
                <div class="card mt-3" style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                            <p class="profile-info">
                                <i class="fa fa-cube">  <span class="tm-gold-text">Blog posts:</span></i>
                            </p>
                        </li>

                        @if (Model.Blogs.Count > 0)
                        {
                            @foreach (var blog in Model.Blogs)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                                    <p class="blogs-title">
                                        <a asp-controller="Blogs" asp-action="Post" asp-route-id="@blog.Id">@blog.Title</a>
                                    </p>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap p-1">
                                <p class="profile-info">No blog posts available...</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body" style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                        <h5 class="tm-gold-text">Projects</h5>
                        <hr>
                        @if (Model.Projects.Count > 0)
                        {
                            @foreach (var project in Model.Projects)
                            {
                                <div class="row">
                                    <div class="col-sm-6 pl-2 pr-2">
                                        <p class="profile-info">
                                            <a asp-controller="Projects" asp-action="Project" asp-route-id="@project.Id">@project.Name</a>
                                        </p>
                                    </div>
                                    <div class="col-sm-3 text-secondary pl-0 pr-0">
                                        <p class="profile-info">@project.UserRole</p>
                                    </div>
                                    <div class="col-sm-3 text-secondary pl-2 pr-0">
                                        @if (!string.IsNullOrEmpty(project.Url))
                                        {
                                            if (project.Url.Length < 18)
                                            {
                                                <p class="profile-info">
                                                    <a href="@project.Url">@project.Url</a>
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="profile-info">
                                                    <a href="@project.Url">@project.Url.Substring(0, 18)</a>
                                                </p>
                                            }
                                        }
                                    </div>
                                </div>
                                <hr>
                            }
                        }
                        else
                        {
                            <p class="profile-info">No projects available...</p>
                        }
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body" style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                        <h5 class="tm-gold-text">Advertisements</h5>
                        <hr>
                        @if (Model.Advertisements.Count > 0)
                        {
                            @foreach (var advertisement in Model.Advertisements)
                            {
                                <div class="row">
                                    <div class="col-sm-8 pl-2 pr-2">
                                        <p class="profile-info">
                                            <a asp-controller="Ads" asp-action="Ad" asp-route-id="@advertisement.Id">@advertisement.Title</a>
                                        </p>
                                    </div>
                                    <div class="col-sm-4 text-secondary pl-0 pr-2">
                                        <p class="profile-info ads-compensation">@advertisement.Compensation</p>
                                    </div>

                                </div>
                                <hr>
                            }
                        }
                        else
                        {
                            <p class="profile-info">No advertisements available...</p>
                        }

                    </div>
                </div>

                <div class="row gutters-sm" >
                    <div class="col-sm-6 mb-3" >
                        <div class="card h-100" style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                            <div class="card-body">
                                <h5 class="tm-gold-text">Job Advertisements</h5>
                                <hr>
     
                                @if (Model.Jobs.Count > 0)
                                {
                                    @foreach (var job in Model.Jobs)
                                    {
                                        <p class="job-title">
                                            <a asp-controller="Jobs" asp-action="Job" asp-route-id="@job.Id">@job.Title</a>
                                        </p>
                                        <hr>
                                    }
                                }
                                else
                                {
                                    <p class="profile-info">No job ads available...</p>
                                }

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body" style="-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85); box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.85);">
                                <h5 class="tm-gold-text">Forum Discussions</h5>
                                <hr>
                                @if (Model.Discussions.Count > 0)
                                {
                                    @foreach (var discussion in Model.Discussions)
                                    {
                                        <p class="discussion-title">
                                            <a asp-controller="Forum" asp-action="ForumDiscussion" asp-route-id="@discussion.Id">@discussion.Title</a>
                                        </p>
                                        <hr>
                                    }
                                }
                                else
                                {
                                    <p class="profile-info">No discussions available...</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/css/profile-review.css" rel="stylesheet" />
}