@model Dispatcher.Web.ViewModels.ViewComponents.RandomJobsModel

@foreach (var job in Model.Jobs)
{
    <div class="media tm-related-post">
        <div class="media-left media-middle">
            @if (string.IsNullOrWhiteSpace(job.LogoUrl))
            {
                <a asp-controller="Jobs" asp-action="Job" asp-route-id="@job.Id">
                    <img class="media-object" src="~/img/job-default.png" alt="Generic placeholder image" width="80" height="80">
                </a>
            }
            else
            {
                <a asp-controller="Jobs" asp-action="Job" asp-route-id="@job.Id">
                    <img class="media-object" src="@job.LogoUrl" alt="Generic placeholder image" width="80" height="80">
                </a>
            }

        </div>
        <div class="media-body">
            <a asp-controller="Jobs" asp-action="Job" asp-route-id="@job.Id"><h4 class="media-heading tm-gold-text tm-margin-b-15">@job.Title</h4></a>
            <p class="tm-small-font tm-media-description">@Html.Raw(job.SanitizedJobBody.Substring(0, 100))</p>
            <p class="tm-small-font tm-media-description">@job.Location  @job.CreatedOn.ToString("dd-MM-yyyy")</p>
        </div>
    </div>
}